Node-Red/WLED flow.txt
[{"id":"f414b01.13a2a5","type":"udp in","z":"df265ee7.acbe2","name":"","iface":"","port":"6969","ipv":"udp4","multicast":"false","group":"192.168.255.255","datatype":"utf8","x":157.6666603088379,"y":233.66663360595703,"wires":[["d4ba4289.320d6"]]},{"id":"d4ba4289.320d6","type":"trigger","z":"df265ee7.acbe2","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"10","extend":true,"units":"s","reset":"","name":"","x":352.66670989990234,"y":232.99999618530273,"wires":[["3b5fd3cb.31ef0c"]]},{"id":"8cacc936.fb01b8","type":"http request","z":"df265ee7.acbe2","name":"set alarm preset","method":"GET","ret":"txt","url":"http://192.168.178.40/win&PL=2&A=255","tls":"","x":899.7000045776367,"y":133.60000038146973,"wires":[[]]},{"id":"dcd1a755.8e3918","type":"http request","z":"df265ee7.acbe2","name":"get state","method":"GET","ret":"txt","url":"http://192.168.178.40/json/state","tls":"","x":686.0000038146973,"y":182.1428575515747,"wires":[["8cacc936.fb01b8","d472b49c.d57788"]]},{"id":"11de9442.90cd4c","type":"http request","z":"df265ee7.acbe2","name":"set old state","method":"POST","ret":"txt","url":"http://192.168.178.40/json","tls":"","x":1094.0000038146973,"y":236.00000190734863,"wires":[[]]},{"id":"d472b49c.d57788","type":"function","z":"df265ee7.acbe2","name":"old state buffer","func":"context.oldState = context.oldState || false;\nif(msg.payload === 1)\n{\n    if(!context.oldState)\n    {\n        node.log(\"No state stored\");\n        return;\n    }\n    else\n    {\n        node.log(\"Sending old state\");\n        msg.payload = context.oldState;\n        context.oldState = false;\n        return msg;\n    }\n}\nelse\n{\n    if(context.oldState)\n    {\n        node.log(\"Old state already present\");\n        return;\n    }\n    else\n    {\n        node.log(\"Storing old state\");\n        context.oldState = msg.payload;\n        return;\n    }\n}","outputs":1,"noerr":0,"x":893.7000045776367,"y":236.16431617736816,"wires":[["11de9442.90cd4c"]]},{"id":"3b5fd3cb.31ef0c","type":"switch","z":"df265ee7.acbe2","name":"start end","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":513.7000045776367,"y":231.31428718566895,"wires":[["dcd1a755.8e3918"],["d472b49c.d57788"]]},{"id":"202275be.db302a","type":"inject","z":"df265ee7.acbe2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":159.8636474609375,"y":161.8181915283203,"wires":[["d4ba4289.320d6"]]}]